//fonts
$heading-font-stack: 'Montserrat', sans-serif;
$body-font-stack: 'Lato', sans-serif;

//colours
$prim-blue: #242C38;
$sec-blue: #454C57;
$contrast: rgb(255, 147, 38);
$contrast2: #E5462E;
$white: #ffffff;
$grey: #2c2b2b;
$contrast-alpha: rgba(255, 147, 38, .4);

